﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BackDoor/Themes/fluid/Profile.master" AutoEventWireup="true" CodeBehind="Profile.aspx.cs" Inherits="SkyLarkArenaCms.BackDoor.Profile" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cptUniteCmsHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cptUniteCmsContent" runat="server">
</asp:Content>
