﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BackDoor/Themes/fluid/registration.master" AutoEventWireup="true" CodeBehind="register.aspx.cs" Inherits="SkyLarkArenaCms.BackDoor.register" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cptUniteCmsHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cptUniteCmsContent" runat="server">
</asp:Content>
