﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BackDoor/Themes/fluid/signout.master" AutoEventWireup="true" CodeBehind="signout.aspx.cs" Inherits="SkyLarkArenaCms.BackDoor.signout" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cptUniteCmsHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cptUniteCmsContent" runat="server">
</asp:Content>
