﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BackDoor/Themes/fluid/Blank.master" AutoEventWireup="true" CodeBehind="edit.aspx.cs" Inherits="SkyLarkArenaCms.BackDoor.playerpoints.edit" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cptUniteCmsHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cptUniteCmsContent" runat="server">

    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
     <div class="box-body">

      
  <div class="form-group">
                      <label for="exampleInputEmail1">Player Nane</label>
            <asp:Label ID="lblplayerName" CssClass="form-control" runat="server" Text=""></asp:Label>
  </div>
        <div class="form-group">
            <label>Player Number</label>
            <asp:Label ID="lblplayerNumber" CssClass="form-control"  runat="server" Text=""></asp:Label>
        </div>
        
    
      <div class="form-group">
       <label>Team Id</label>
            <asp:Label ID="lblTeamId" CssClass="form-control" runat="server" Text=""></asp:Label>
        </div>
    
      <div class="form-group">
          <asp:Label ID="lblpoints" CssClass="form-control" runat="server" Text=""></asp:Label>
   </div>

            <div class="form-group">
             <label>Points To Redeem</label>
                       <asp:Label ID="lblpointstoredeem" CssClass="form-control" runat="server" Text=""></asp:Label>
        </div>
    
                  

           
        <div class="form-group">

               <asp:Button ID="btnSave"  CssClass="btn btn-info" runat="server" Text="Save" OnClick="btnSave_Click" />
             <asp:Button ID="btnCancel"  CssClass="btn btn-info" runat="server" Text="Cancel" OnClick="btnCancel_Click" />
           
    
            </div>
            </div>
           
</asp:Content>
