﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BackDoor/Themes/fluid/Blank.master" AutoEventWireup="true" CodeBehind="edit.aspx.cs" Inherits="SkyLarkArenaCms.BackDoor.leagues.edit" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cptUniteCmsHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cptUniteCmsContent" runat="server">

      
 
 <div class="box-body">

           <div class="form-group">
                 <label for="exampleInputEmail1">Name</label><br />
                
          
            <asp:TextBox ID="txtName"  CssClass="form-control"   runat="server" Width="383px"></asp:TextBox>
       </div>
     
     
      <div class="form-group">
                 <label for="exampleInputEmail1">League Id</label><br />               
          
                <asp:TextBox ID="txtLeagueId"  CssClass="form-control"   runat="server" Width="383px"></asp:TextBox>
       </div>
      <div class="form-group">
                 <label for="exampleInputEmail1">Name</label><br />
                
          
          <asp:CheckBox ID="checkIsActive" runat="server" />
       </div>

     <div class="form-group">
                  
             
                 <asp:Button ID="btnSave"  CssClass="btn  btn-info" runat="server" Text="Save" OnClick="btnSave_Click" />
             <asp:Button ID="btnCancel"  CssClass="btn  btn-info" runat="server" Text="Cancel" OnClick="btnCancel_Click" />
               </div>
     
      </div>


</asp:Content>
