﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="kidsdashboard.master.cs" Inherits="SkyLarkArenaCms.Themes.soccer.kidsdashboard" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
     <link rel="stylesheet" href="css/flexnav.css" type='text/css' />
    <link rel="stylesheet" href="css/owl.carousel.css" type='text/css' />
    <link rel="stylesheet" href="css/owl.theme.css" type='text/css'  />
    <link rel="stylesheet" href="style.css" type='text/css' />
    <link rel="stylesheet" href="css/responsive.css" type='text/css'/>
    
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'/>
 
   
<script src="/Themes/soccer/js/jquery.min.js"  ></script>
	<script src="/Themes/soccer/js/bootstrap.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.min.js"></script>
	<style>

     .row-no-margin {
   margin-left: 0px;
   margin-right: 0px;
} 
	</style>
</head>
<body>
   

<section class="top-header">
	<div class="container">
		<div class="row tph">
				<div class="login-signup">
				
			 
					<ul>
		 				<li><a href="../../dashboardlogin.aspx" title="Login" class="hunderline">Login</a></li>
						<li><a href="../../dashboardlogin.aspx">Sign Up</a></li>			
				  
					</ul>
				</div>
		</div>
	</div>
</section>
<section class="middile-header">
	<div class="container">
		<div class="row mh">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="go-green-contact-info">
					<div class="email-info pull-left">
						<p>CONTACT US - (202) 555-232</p>
						<p>Email : sponsor@gogreensoccer.com</p>
					</div>
					<div class="button pull-right">
						<button>Sponsor NoW</button>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>
<header class="go-green-header">

	<div class="container">
		<div class="row header">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="logo">
					<a href=""><img class="img-responsive" src="images/logo.png"></a>
				</div>
			</div>
			<div class="col-md-9 go-green-menu">
				<div class="">
					<ul id = "nav" class = "">
						<li><a href="">Demo</a></li>
						<li><a href="">Demo</a></li>
						<li><a href="">Demo</a></li>
						<li><a href="">Demo</a></li>
						<li><a href="">Demo</a></li>
						<li><a href="">Demo</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 go-green-menu-buttons">
				<div class="menu-button"><i class="fa fa-bars"></i></div>
			</div>
			<ul id = "nav" class = "flexnav col-xs-12 col-sm-12 go-green-repsonive-menu">
				<li><a href="">Demo</a></li>
				<li><a href="">Demo</a></li>
				<li><a href="">Demo</a></li>
				<li><a href="">Demo</a></li>
				<li><a href="">Demo</a></li>
				<li><a href="">Demo</a></li>
			</ul>
		</div>
	</div>

</header>
   <section class="kids-dashboard-prizes-area">
	<div class="container">
		<div class="row">
			<div class="go-green-wrapper">
  <form id="form1" runat="server">
     
        <asp:ContentPlaceHolder ID="cptUniteCmsContent" runat="server">
        
        </asp:ContentPlaceHolder>
    
    </form> 
        </div>
            </div>
        </section>
    <section class="kids-dashboard-prizes-area">
	</section>
       <div class="notifications bottom-right"></div>
<footer class="go-green-footer">
	<div class="container">
		<div class="row footer">
			<div class="go-green-wrapper">
				<div class="logo">
					<a href="">
						<img class="img-responsive" src="images/logo.png">
					</a>
				</div>
				<ul id = "nav" class = "">
					<li><a href="">Demo</a></li>
					<li><a href="">Demo</a></li>
					<li><a href="">Demo</a></li>
					<li><a href="">Demo</a></li>
				</ul>
				<div class="copyright">
<p>Â© Copyright 2015 The Liverpool Football Club and Athletic Grounds Limited. All rights reserved.</p>
<p>Developed And Maintained by the LFC Technology and Transformation Team</p>
<p>Match Statistics supplied by Opta Sports Data Limited. Reproduced under licence from Football DataCo Limited. All rights reserved </p>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="<%# ResolveUrl("~/") %>js/navigation.js"></script>
<script src="<%# ResolveUrl("~/") %>js/redeempoints.js"></script>
<script src="<%# ResolveUrl("~/") %>js/skip-link-focus-fix.js"></script>
<script src="<%# ResolveUrl("~/") %>js/jquery.flexnav.min.js"></script>
<script src="<%# ResolveUrl("~/") %>js/circle-progress.js"></script>
<script src="<%# ResolveUrl("~/") %>js/owl.carousel.min.js"></script>
<script src="<%# ResolveUrl("~/") %>js/main.js"></script>     

 <div class="notifications bottom-right"></div>
</body>
</html>
