﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BackDoor/Themes/fluid/Blank.master" AutoEventWireup="true" CodeBehind="edit.aspx.cs" Inherits="SkyLarkArenaCms.BackDoor.districts.edit" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cptUniteCmsHead" runat="server">
    <style type="text/css">
        .auto-style1 {
            width: 100%;
            border-style: solid;
            border-width: 4px;
        }
        .auto-style2 {
            width: 107px
        }
        .auto-style3 {
            width: 107px;
            height: 22px;
        }
        .auto-style4 {
            height: 22px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cptUniteCmsContent" runat="server">
         
          <asp:ScriptManager ID="ScriptManager1" runat="server">
          </asp:ScriptManager>
 
 <div class="box-body">

           <div class="form-group">
                 <label for="exampleInputEmail1">Name</label><br />
                
                <asp:TextBox ID="txtName" runat="server" CssClass="form-control" Width="425px"></asp:TextBox>
      </div>

 

           <div class="form-group">
                 <label for="exampleInputEmail1">Prefix</label><br />
                           <asp:TextBox ID="txtPrefix" CssClass="form-control" runat="server" Width="152px"></asp:TextBox>
      
          </div> <div class="form-group">
           <asp:Button ID="btnSave" runat="server"  CssClass="btn btn-info" Text="Save" OnClick="btnSave_Click" />
                    <asp:Button ID="btCancel" CssClass="btn  btn-info" runat="server" Text="Cancel" OnClick="btCancel_Click" />
         </div></div>
             

</asp:Content>
